# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/

# VSCode
.vscode/


*.wav


# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
*.ipynb

# Logs
*.log